*.pyc
*.html
TestResult_Project*/GetResultsXls/OS
TestResult_Project*/GetResultsXls/Kernel
TestResult_Project*/GetResultsXls/KVM
TestResult_Project*/SetTestResult/OS
TestResult_Project*/SetTestResult/Kernel
TestResult_Project*/SetTestResult/KVM
TestResult_Project*/Extended_GetResultsXls/OS
TestResult_Project*/Extended_GetResultsXls/Kernel
TestResult_Project*/Extended_GetResultsXls/KVM
TestResult_Project*/Init_Env/OS
TestResult_Project*/Init_Env/Kernel
TestResult_Project*/Init_Env/KVM
TestResult_Project*/OSInfo/OS
TestResult_Project*/OSInfo/Kernel
TestResult_Project*/OSInfo/KVM
TestResult_Project*/TestInfo/OS
TestResult_Project*/TestInfo/Kernel
TestResult_Project*/TestInfo/KVM
TestResult_Project*/TestReport/*/report.html
TestResult_Project*/GetResultsXls/Log*
TestResult_Project*/GetResultsXls/Excel_Create*
TestResult_Project*/GetResultsXls/Excel_Merge*
TestResult_Project*/GetResultsXls/TestMark*
TestResult_Project*/SetTestResult/TestMark*
TestResult_Project*/TestInfo/TestMark*
TestResult_Project*/OSInfo/TestMark*
TestResult_Project*/SetTestResult/ok_file.txt
TestResult_Project*/SetTestResult/err_file.txt
TestResult_Project*/Get_OSInfo_Remote/OS*
TestResult_Project*/Get_OSInfo_Remote/Kernel*
TestResult_Project*/Get_OSInfo_Remote/KVM*
TestResult_Project*/Get_OSInfo_Remote/TestMark/
TestResult_Project*/TestReport/*/test_plat.txt
TestResult_Project*/TestReport/*/test_type.txt
TestResult_Project*/TestReport/*/testcase/testResultIni_path.txt
TestResult_Project*/CronTab_Proj/crontab_bak_*
TestResult_Project*/Rsync_Tool/crontab_bak_*
